*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.divv{
   
    
    width: 100%;
    min-height:100vh ;
    background-color:  #101820;
    padding: 10px;
}
.center{
    width: 100%;
    max-width: 540px;
    background-color: #FEE715 ;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.center h1{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.input1{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
.button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
li{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: darkred; /* Slightly darker shade on hover */
}